@require 'lib/variables.import'

#metime-wrapper
  position absolute
  top 0
  right 0
  bottom 0
  left 0

  >nav
    position absolute
    top 0
    left 0
    bottom 0
    background-color #ddd
    width sidebarWidth px

    ul
      list-style none
      margin 0
      padding 0
      text-align center

  >div
    position absolute
    top 0
    left sidebarWidth px
    right 0
    bottom 0
