<template name="summaryTable">
  <table>
    <thead>
      <tr>
        <th></th>
        <th colspan="2">date1</th>
        <th colspan="2">date2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>on the clock</th>
        <td>123</td>
        <td>33%</td>
        <td>123</td>
        <td>33%</td>
      </tr>
      <tr>
        <th>biz</th>
        <td>123</td>
        <td>33%</td>
        <td>123</td>
        <td>33%</td>
      </tr>
      <tr>
        <th>dev</th>
        <td>123</td>
        <td>33%</td>
        <td>123</td>
        <td>33%</td>
      </tr>
    </tbody>
  </table>
</template>
