<template name="summaryTable">
  <table id="summary-table" class="table">
    <thead>
      <tr>
        <th></th>
        {{#each buckets}}
          <th colspan="3">{{name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each tags}}
        {{>summaryTableTagRow}}
      {{/each}}
      <tr>
        {{#with other}}
          <th>other</th>
          {{#each buckets}}
            {{> summaryTableTagBucket}}
          {{/each}}
        {{/with}}
      </tr>
    </tbody>
    <tfoot>
      <tr>
        {{#with onTheClock}}
          <th>on&nbsp;the&nbsp;clock</th>
          {{#each buckets}}
            {{> summaryTableTagBucket}}
          {{/each}}
        {{/with}}
      </tr>
    </tfoot>
  </table>
</template>

<template name="summaryTableTagRow">
  <tr class="summary-table-tag-row">
    <th class="summary-table-tag"><span style="background-color: {{color}};">{{name}}</span></th>
    {{#each buckets}}
      {{> summaryTableTagBucket}}
    {{/each}}
  </tr>
</template>

<template name="summaryTableTagBucket">
  <td class="summary-table-data">{{hoursFormatted}}h</td>
  <td class="summary-table-data">{{percentOnTheClockFormatted}}%</td>
  <td>
    <div class="summary-table-bar" style="width: {{percentOnTheClockMaxWidth}}px;">
      <div style="background-color: {{../color}}; width: {{percentOnTheClockWidth}}px;">&nbsp;</div>
    </div>
  </td>
</template>
