<template name="summaryTable">
  <table id="summary-table" class="table">
    <thead>
      <tr>
        <th></th>
        {{#each buckets}}
          <th colspan="2">{{name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each tags}}
        {{>summaryTableTagRow}}
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th>on the clock</th>
        {{#each onTheClock.buckets}}
          {{> summaryTableTagBucket}}
        {{/each}}
      </tr>
    </tfoot>
  </table>
</template>

<template name="summaryTableTagRow">
  <tr class="summary-table-tag-row">
    <th class="summary-table-tag"><span style="background-color: {{color}};">{{name}}</span></th>
    {{#each buckets}}
      {{> summaryTableTagBucket}}
    {{/each}}
  </tr>
</template>

<template name="summaryTableTagBucket">
  <td class="summary-table-data">{{hours}}</td>
  <td class="summary-table-data">{{percentOnTheClock}}%</td>
</template>
