@require '../application/variables.import'

#summary-table
  td, th
    border-top none

  .summary-table-tag
    font-weight normal
    >span
      padding 2pt

  .summary-table-data
    text-align right

  .summary-table-bar
    border 1px solid #ccc

  thead
    th
      text-align center

  tfoot
    td, th
      border-top 1px solid black
