<template name="entry_table_row">
  <tr class="entry-table-row">
    <td>
      <a href="#" class="entry-table-remove glyphicon glyphicon-remove"></a>
    </td>
    <td class="entry-table-stamp-container">
      {{#if editing 'stamp'}}
      {{> entry_table_stamp_input}}
      {{else}}
      {{> entry_table_stamp_link}}
      {{/if}}
    </td>
    <td>
      {{#if editing 'text'}}
      <input type="text" class="form-control entry-table-text-input" value="{{text}}" />
      {{else}}
      {{#if clock_stopped}}
      <a href="#" class="entry-table-text entry-table-clock-stopped">(clock stopped)</a>
      {{else}}
      <a href="#" class="entry-table-text">{{> tagged_text}}</a>
      {{/if}}
      {{/if}}
    </td>
    <td>
      <span class="entry-table-duration">{{duration}}</span>
    </td>
  </tr>
</template>
