<template name="entry_table">
  <table id="entry-table" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>When</th>
        <th>What</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr class="entry-table-new-row">
        <td>
          <span class="glyphicon glyphicon-asterisk"></span>
        </td>
        <td>
          &mdash;
        </td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control" id="entry-table-new-text" placeholder="entry" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" id="entry-table-new-restart-clock">Restart Clock</button>
            </span>
          </div>
        </td>
        <td>
          &mdash;
        </td>
      </tr>
      {{#each entries}}
        {{> entry_table_row}}
      {{/each}}
    </tbody>
  </table>
</template>

<template name="tagged_text">
{{#each words}}
  {{#if color}}
    <span class="entry-text-tag" style="background-color: {{color}};">{{word}}</span>
  {{else}}
    {{word}}
  {{/if}}
{{/each}}
</template>

<template name="entry_table_stamp_link">
  <a href="#" class="entry-table-stamp" data-stamp="{{stamp}}">{{formatted_stamp}}</a>
</template>

<template name="entry_table_stamp_input">
  <input type="text" class="entry-table-stamp form-control" data-stamp="{{stamp}}" value="{{formatted_stamp}}">
</template>
