@require '../application/variables.import'

.entry-text-tag
  padding 2pt

#entry-table
  a.entry-table-text
    color black

  .entry-table-stamp-container
    position relative

  .entry-table-stamp
    white-space nowrap

  .entry-table-duration
    white-space nowrap

  .entry-table-clock-stopped
    font-style italic
